@import url('./reset.css');
@import url('./base.css');

.loader {
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 80px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  position: relative;
  background: linear-gradient(#ff3d00 30px, transparent 0) no-repeat;
  background-size: 2px 40px;
  background-position: 50% 0px;
  animation: spinx 5s linear infinite;
}

.loader:before,
.loader:after {
  content: '';
  width: 40px;
  left: 50%;
  height: 35px;
  position: absolute;
  top: 0;
  transform: translatex(-50%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0 0 20px 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0px;
  animation: lqt 5s linear infinite;
}

.loader:after {
  top: auto;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  animation: lqb 5s linear infinite;
}

@keyframes lqt {
  0%,
  100% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0% 0px;
  }

  50% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0% 40px;
  }

  50.1% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0% -40px;
  }
}

@keyframes lqb {
  0% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0 40px;
  }

  100% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0 -40px;
  }
}

@keyframes spinx {
  0%,
  49% {
    transform: rotate(0deg);
    background-position: 50% 36px;
  }

  51%,
  98% {
    transform: rotate(180deg);
    background-position: 50% 4px;
  }

  100% {
    transform: rotate(360deg);
    background-position: 50% 36px;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.input {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 272px;
  height: 40px;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  margin-top: 36px;
  padding-left: 16px;
}

.input:hover {
  border: 1px solid #000;
}

.btn {
  border-radius: 8px;
  margin-top: 36px;
  width: 90px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: transparent;
}

.btn:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-top: 32px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.img {
  width: 360px;
  height: 200px;
  border-radius: 7px;
}

.wrapper {
  display: flex;
  width: 360px;
  gap: 28px;
  z-index: 99;
  bottom: 0;
  background-color: #fff;
  justify-content: center;
  position: absolute;
  border: 1px solid #808080;
  transform: translateY(100%);
  transition: transform 300ms ease-in-out;
}

.gallery-item:hover .wrapper {
  transform: translateY(0);
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  color: #2e2f42;
}

.span {
  color: #2e2f42;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
}
